/* BRANDING FOR MYDTCC, stolen --------------------------------- */

/* always force a scrollbar in non-IE */ 
html {
	overflow-y: scroll;
	}

/* CONTENT -------------------------------- */
:focus {
	outline: 0;
	}
body {
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 19px;
	color: #626566;
	}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
	}
.container-fluid {
	padding-left: 20px;
	padding-right: 20px;
	}
.center {
    text-align: center;
}
.alert p {
	line-height: 18px;
    margin: 9px 0;
	}
.alert-error a:link, .alert-error a:visited {
    color: #b94a48;
    font-weight: bold;
    text-decoration: underline;
    
}
.alert-error a:hover, .alert-error a:active {
    color: #b94a48;
    font-weight: bold;
    text-decoration: none;
}
.well {
    background-color: #f8f8f1;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    min-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
	}
.well-green {
    background-color: #00843c;
	color: #FFF;
	}
.col{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
	}
.col-wrap{  
    overflow: hidden;   
	}
.col-base{ 
    margin-top: -15px; /* cut off top portion of bottom wells */
	}
.well-padding {
	padding-bottom: 40px;
	}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999999;
	}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
	text-decoration: none;
	cursor: default;
	background-color: transparent;
	}
.mt20 {
	margin-top: 16px;
	}
.label-success,
.badge-success {
  background-color: #00a160;
}

/* HEADER --------------------------------- */
#header {
	background: #f0f0e6;
	}
#header h1 {
	margin: 0px;
	}
#header h1 a {
	clear: both;
	padding: 21px 25px 25px 25px;
	color: #333;
	font: normal 2.2em/2.2em Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	background-image: url(/img/mydtcc_logo.png);
	background-position: 2% 50%;
	background-repeat: no-repeat;
	background-size: 98%;
	text-indent: -9999px;
	margin: 0 0 0 15px;
	display: block;
	max-width: 400px;
	max-height: 102px;
	height: auto;
	}
.title {
	margin: 18px 0;
	padding: 18px 0 18px 16px;
	border-bottom: 1px solid #ddd;
	background-color: #fbfbfb;
	}

/* FOOTER --------------------------------- */
#app-body #footer p {
	margin: 0 0 1em 0;
	padding: 0;
	}
#footer {
	clear: both;
	position: relative;
	margin: 25px 25px 1em;
	/*border-top: 1px solid #ccc;*/
	padding: 25px 0 25px 0;
	background: transparent;
	color: #999;
	}
#footer div {
	clear: left;
	margin: 1em 5px .5em;
	overflow: hidden;
	}
#announcements_frame {
	width: 100%;
	height: 95%;
	border: none;
	}
.calendar-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
	}
.calendar-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
	}

/* MENU --------------------------------- */
.navbar-inner {
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #009b46;
	background-image: -moz-linear-gradient(top, #009b46, #00843c);
	background-image: -ms-linear-gradient(top, #009b46, #00843c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#009b46), to(#00843c));
	background-image: -webkit-linear-gradient(top, #009b46, #00843c);
	background-image: -o-linear-gradient(top, #009b46, #00843c);
	background-image: linear-gradient(top, #009b46, #00843c);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009b46', endColorstr='#00843c', GradientType=0);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	}
.navbar .nav > li > a {
	color: #ffffff;
	float: none;
	line-height: 19px;
	padding: 9px 10px 11px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
.navbar .nav > li > a:hover, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a {
	background-color: #00843c;
	}
.nav-list {
	background-color: #f0f0e6;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 4px 4px 4px 4px;
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;*/
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	min-height: 20px;
	}
.nav .nav-header {
	color: #00467f;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 3px 15px 12px 15px;
	text-transform: uppercase;
	border-bottom: #fff solid 2px;
	}
.nav .dropdown .nav-header {
	padding: 5px 15px 3px 28px;
	}
.navbar .btn-navbar {
	background-color: #00843c;
	background-image: -moz-linear-gradient(center top, #007233, #00843c);
	background-image: -webkit-linear-gradient(top,#007233,#00843c);
	background-image: -ms-linear-gradient(top, #007233, #00843c);
	background-image: linear-gradient(top, #007233, #00843c);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	padding: 7px 10px;
	}
.btn-primary {
	background-color: #00a261;
	background-image: -moz-linear-gradient(center top, #00a261, #00843c);
	background-image: -webkit-linear-gradient(top,#00a261,#00843c);
	background-image: -ms-linear-gradient(top, #00a261, #00843c);
	background-image: linear-gradient(top, #00a261, #00843c);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #00843c;
	*background-color: #00843c;
	}
.btn-primary:active, .btn-primary.active {
	background-color: #00843c \9;
	}
.btn-secondary {
	background-color: #4f91cd;
	background-image: -moz-linear-gradient(center top, #4f91cd, #00467f);
	background-image: -webkit-linear-gradient(top,#4f91cd,#00467f);
	background-image: -ms-linear-gradient(top, #4f91cd, #00467f);
	background-image: linear-gradient(top, #4f91cd, #00467f);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] {
	background-color: #00467f;
	*background-color: #00467f;
	}
.btn-secondary:active, .btn-secondary.active {
	background-color: #00467f \9;
	}
.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
	background-color: #00843c;
	*background-color: #00843c;
	}
.nav > li > a:hover {
	text-decoration: none;
	background-color: #fbfbf6;
	}
.nav .nav-header {
	border-bottom: 1px solid #FFFFFF;
	}
.nav-sub-header {
	color: #00467F;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	display: block;
	margin-top: 14px;
	margin-bottom: 4px;
	}

/* Breadcrumbs ------------------------------ */
.breadcrumb {
	background-image: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	}

/* RSS FEED CAROUSEL ---------------------------- */
.carousel {
	line-height: 1.5;
	}
.carousel.fadeout {
	opacity: 1;
	}
.carousel.fadeout .item {
	-moz-transition: opacity ease-in-out .7s;
	-o-transition: opacity ease-in-out .7s;
	-webkit-transition: opacity ease-in-out .7s;
	transition: opacity ease-in-out .7s;
	left: 0 !important;
	opacity: 0;
	top:0;
	position:absolute;
	width: 100%;
	display:block !important;
	z-index:1;
	}
.carousel.fadeout .item:first-child {
	top:auto;
	position:relative;
	}
.carousel.fadeout .item.active {
	opacity: 1;
	-moz-transition: opacity ease-in-out .7s;
	-o-transition: opacity ease-in-out .7s;
	-webkit-transition: opacity ease-in-out .7s;
	transition: opacity ease-in-out .7s;
	z-index:2;
	}
.carousel .btn-toolbar {
	text-align: center;
	}
.view-all {
	font-size: 11px;
	}

/* VALIDATION ---------------------------------- */
.error {
	color: red;
	}

/* Email Badge --------------------------------- */
.badge 	{
	position: absolute;
	float: right;
	top:-38px;
	left:12px;
	border-radius: 1em;
	border: 2px solid white;
	box-shadow: 0 .25em .4em rgba(0,0,0,.23);
	background-clip:padding-box;
	background-color:#4f91cd;
	opacity: 0;
	}
.nav li {
	position: relative;
	}

/* RESPONSIVE VIDEO - Not Native in Bootstrap v2.0.4 ---- */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

/* RESPONSIVE MENU --------------------------------- */
/*@media (max-width: 880px) {*/
@media (max-width: 1100px) {
.navbar .nav > li {
	width: 94%;
	border-top: #00a261 solid 1px;
	border-bottom: #00843c solid 1px;
	}
.navbar .nav {
	display: block;
	float: left;
	left: 0px;
	position: relative;
	width: 106%;
	}
body{
	margin: 0;
	padding: 0;
	}
.badge 	{
	position: relative;
	margin-top: 20px;
	}
}

/* Screen Reader ------------------------------------ */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


/***** agladis1 | 20171010 | Meet Our Faculty and Staff box *****/
.mb0{margin-bottom:0px;}
.img-responsive{display:block; max-width:100%; width:100%; height:auto;}
.row{margin-left:0px;}
.item{display:none;}
.item.active{display:block;}

@media (max-width:1200px){
.spotlight-inner .span5{width:100%; display:block; margin-left:0px;}
.spotlight-inner .span7{width:100%; display:block; margin-left:0px;}
}

@media (max-width:768px) and (min-width:500px){
  .spotlight-inner .span5{width:40% !important; float:left;}
  .spotlight-inner .span7{width:57% !important; float:left; margin-left:2.5%;}
}
/***** agladis1 | 20171010 *****/

.mr30 {
  margin-right: 30px;
}

/***** awade | 20190416 | button dropdown *****/
a.dropdown-toggle.wht {
    color: #fff;
}